<Files .htaccess>
	Order Allow,Deny
	Deny from all
</Files>
Options +FollowSymlinks
Options -Indexes
Options -MultiViews
AddDefaultCharset utf-8
ServerSignature Off
FileETag none
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE image/svg+xml application/javascript application/rss+xml application/vnd.ms-fontobject application/x-font application/x-font-opentype application/x-font-otf application/x-font-truetype application/x-font-ttf application/x-javascript application/xhtml+xml application/xml font/opentype font/otf font/ttf image/x-icon text/css text/html text/javascript text/plain text/xml
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
	Header append Vary User-Agent
</IfModule>
<IfModule mod_dir.c>
	DirectoryIndex index.html index.htm index.php index.cgi
</IfModule>
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 2 days"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/svg+xml "access 1 month"
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType text/css "access plus 1 month"
	ExpiresByType text/javascript "access plus 1 month"
	ExpiresByType application/javascript "access plus 1 month"
	ExpiresByType application/x-shockwave-flash "access plus 1 month"
	ExpiresByType image/ico "access plus 1 month"
	ExpiresByType image/x-icon "access plus 1 month"
	ExpiresByType text/html "access plus 600 seconds"
</IfModule>
<IfModule mod_headers.c>
	Header unset ETag
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteOptions Inherit
</IfModule>
